<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/static/styles/menu.css">
    <style>
        body {
            zoom: 90%; /* Set the zoom level to 90% */
        }
    </style>
</head>
<body>
    <div class="menu-container">
        <h1>Menu</h1>
        <div class="button-container">
            <button onclick="window.location.href='/qa'">Q&A</button>
            <button onclick="window.location.href='/puzzle_game'">Puzzle Game</button>
            <button onclick="window.location.href='/valentine_confession'">Message</button>
            <button onclick="window.location.href='/flowers'">Flowers</button>
        </div>
    </div>
</body>
</html>
